#!/bin/sh
# Managed by ansible

# PROVIDE: node_red
# REQUIRE: NETWORKING SERVERS DAEMON
# BEFORE:  LOGIN
# KEYWORD: shutdown

. /etc/rc.subr

name="{{ node_red_service }}"
rcvar=${name}_enable

load_rc_config $name

: ${node_red_enable:="NO"}
: ${node_red_user:="{{ node_red_user }}"}
: ${node_red_group:="{{ node_red_group }}"}
: ${node_red_dir:="{{ node_red_db_dir }}"}
: ${node_red_config:="{{ node_red_conf_file }}"}
: ${node_red_facility:="daemon"}
: ${node_red_priority:="notice"}

extra_commands="status"
node_red_command="/usr/local/bin/node-red"
procname="node:"
pidfile="/var/run/$name.pid"
command="/usr/sbin/daemon"
command_args="-c -p ${pidfile} -S -T ${name} -s ${node_red_priority} -l ${node_red_facility} \
    ${node_red_command} --settings ${node_red_config} --userDir ${node_red_dir}"

start_precmd="node_red_startprecmd"

node_red_startprecmd()
{
    if [ ! -e ${pidfile} ]; then
        install -o ${node_red_user} -g ${node_red_group} /dev/null ${pidfile};
    fi
}

run_rc_command "$1"
